<h1>Rechnungsdetails bearbeiten</h1>
<hr>
<%= render 'form' %>
<div class="row-fluid">
	<div class="span2">
		<%= link_to 'Abbrechen', user_patient_invoice_path(@user,@patient, @invoice), class:"btn btn-block pull-left" %>
	</div>
</div>
