<h1>Patient bearbeiten</h1>
<hr>
<%= render 'form' %>
<div class="row-fluid">
	<div class="span2">
		<%= link_to 'Abbrechen', user_patients_path(@user,@patient), class:"btn btn-block pull-left" %>
	</div>
</div>
