<h1>Neues Kostenelement</h1>
<hr>
<%= render 'form' %>
<div class="row-fluid">
	<div class="span2">
		<%= link_to 'Abbrechen', user_patient_invoice_cost_items_path(@user,@patient,@invoice), class:"btn btn btn-block" %>
	</div>
</div>
